<h1>My Portfolio</h1>

<div style="display: flex; gap: 20px; margin-bottom: 20px;">

  <div style="padding: 15px; border: 1px solid #ccc; border-radius: 8px;">
    <h3>Total Invested</h3>
    <p>₹ <%= @totals[:total_invested] %></p>
  </div>

  <div style="padding: 15px; border: 1px solid #ccc; border-radius: 8px;">
    <h3>Current Value</h3>
    <p>₹ <%= @totals[:total_current] %></p>
  </div>

  <div style="padding: 15px; border: 1px solid #ccc; border-radius: 8px;">
    <h3>Total P/L</h3>

    <% if @totals[:total_profit_loss] >= 0 %>
      <p style="color: green;">
        +₹ <%= @totals[:total_profit_loss] %>
      </p>
    <% else %>
      <p style="color: red;">
        ₹ <%= @totals[:total_profit_loss] %>
      </p>
    <% end %>

  </div>

</div>

<%= link_to "Add Transaction", new_transaction_path %>

<% if @portfolio.any? %>
  <table>
    <thead>
      <tr>
        <th>Stock</th>
        <th>Symbol</th>
        <th>Qty</th>
        <th>Avg Price</th>
        <th>Current Price</th>
        <th>Invested</th>
        <th>Current Value</th>
        <th>P/L</th>
      </tr>
    </thead>

    <tbody>
      <% @portfolio.each do |stock| %>
        <tr>
          <td><%= stock[:stock_name] %></td>
          <td><%= stock[:symbol] %></td>
          <td><%= stock[:quantity] %></td>
          <td><%= stock[:avg_price] %></td>
          <td><%= stock[:current_price] %></td>
          <td><%= stock[:invested_value] %></td>
          <td><%= stock[:current_value] %></td>

          <td>
            <% if stock[:profit_loss] >= 0 %>
              <span style="color: green;">
                +<%= stock[:profit_loss] %>
              </span>
            <% else %>
              <span style="color: red;">
                <%= stock[:profit_loss] %>
              </span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No investments yet.</p>
<% end %>
