<h1>My Portfolio</h1>

<%= link_to "Add Transaction", new_transaction_path %>

<% if @portfolio.any? %>
  <table>
    <thead>
      <tr>
        <th>Stock</th>
        <th>Symbol</th>
        <th>Quantity</th>
        <th>Avg Price</th>
        <th>Invested Value</th>
      </tr>
    </thead>

    <tbody>
      <% @portfolio.each do |stock| %>
        <tr>
          <td><%= stock[:stock_name] %></td>
          <td><%= stock[:symbol] %></td>
          <td><%= stock[:quantity] %></td>
          <td><%= stock[:avg_price] %></td>
          <td><%= stock[:invested_value] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No investments yet.</p>
<% end %>
