<h1>My Portfolio</h1>

<%= link_to "Add Transaction", new_transaction_path %>

<% if @portfolio.any? %>
  <table>
    <thead>
      <tr>
        <th>Stock</th>
        <th>Symbol</th>
        <th>Qty</th>
        <th>Avg Price</th>
        <th>Current Price</th>
        <th>Invested</th>
        <th>Current Value</th>
        <th>P/L</th>
      </tr>
    </thead>

    <tbody>
      <% @portfolio.each do |stock| %>
        <tr>
          <td><%= stock[:stock_name] %></td>
          <td><%= stock[:symbol] %></td>
          <td><%= stock[:quantity] %></td>
          <td><%= stock[:avg_price] %></td>
          <td><%= stock[:current_price] %></td>
          <td><%= stock[:invested_value] %></td>
          <td><%= stock[:current_value] %></td>

          <td>
            <% if stock[:profit_loss] >= 0 %>
              <span style="color: green;">
                +<%= stock[:profit_loss] %>
              </span>
            <% else %>
              <span style="color: red;">
                <%= stock[:profit_loss] %>
              </span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No investments yet.</p>
<% end %>
