<h1>Transactions</h1>

<%= link_to "New Transaction", new_transaction_path %>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Stock</th>
      <th>Type</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Platform</th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |t| %>
      <tr>
        <td><%= t.transaction_date %></td>
        <td><%= t.stock.name %></td>
        <td><%= t.transaction_type %></td>
        <td><%= t.quantity %></td>
        <td><%= t.price %></td>
        <td><%= t.platform.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
