<!DOCTYPE html>
<html>
  <head>
    <title>PortfolioTracker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <% if user_signed_in? %>
      <p>
        Logged in as <%= current_user.email %>
        <%= button_to "Logout", destroy_user_session_path, method: :delete %>
      </p>
    <% end %>

    <% flash.each do |type, message| %>
      <p style="color: green;"><%= message %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
