<!DOCTYPE html>
<html>
  <head>
    <title>PortfolioTracker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <% flash.each do |type, message| %>
      <p style="color: green;"><%= message %></p>
    <% end %>

    <nav class="navbar">
      <div class="nav-left">
        <%= link_to "Dashboard", root_path %>
        <%= link_to "Stocks", stocks_path %>
        <%= link_to "Transactions", "#" %>
        <%= link_to "Reports", "#" %>
      </div>

      <div class="nav-right">
        <% if user_signed_in? %>
          <span class="user-email"><%= current_user.email %></span>

          <%= button_to "Logout",
              destroy_user_session_path,
              method: :delete,
              form: { style: "display:inline" } %>
        <% end %>
      </div>
    </nav>

    <hr>

    <%= yield %>
  </body>
</html>
